# 第2章: UNIXコマンドの基礎
hightemp.txtは，日本の最高気温の記録を「都道府県」「地点」「℃」「日」のタブ区切り形式で格納したファイルである．以下の処理を行うプログラムを作成し，hightemp.txtを入力ファイルとして実行せよ．さらに，同様の処理をUNIXコマンドでも実行し，プログラムの実行結果を確認せよ．
## 10. 行数のカウント
行数をカウントせよ．確認にはwcコマンドを用いよ．

In [1]:
with open("hightemp.txt") as f:
    print(len(f.readlines()))

24

In [2]:
!wc -l hightemp.txt

      24 hightemp.txt

## 11. タブをスペースに置換
タブ1文字につきスペース1文字に置換せよ．確認にはsedコマンド，trコマンド，もしくはexpandコマンドを用いよ．

In [3]:
with open("hightemp.txt") as f:
    print(f.read().replace("\t", " "))

高知県 江川崎 41 2013-08-12
埼玉県 熊谷 40.9 2007-08-16
岐阜県 多治見 40.9 2007-08-16
山形県 山形 40.8 1933-07-25
山梨県 甲府 40.7 2013-08-10
和歌山県 かつらぎ 40.6 1994-08-08
静岡県 天竜 40.6 1994-08-04
山梨県 勝沼 40.5 2013-08-10
埼玉県 越谷 40.4 2007-08-16
群馬県 館林 40.3 2007-08-16
群馬県 上里見 40.3 1998-07-04
愛知県 愛西 40.3 1994-08-05
千葉県 牛久 40.2 2004-07-20
静岡県 佐久間 40.2 2001-07-24
愛媛県 宇和島 40.2 1927-07-22
山形県 酒田 40.1 1978-08-03
岐阜県 美濃 40 2007-08-16
群馬県 前橋 40 2001-07-24
千葉県 茂原 39.9 2013-08-11
埼玉県 鳩山 39.9 1997-07-05
大阪府 豊中 39.9 1994-08-08
山梨県 大月 39.9 1990-07-19
山形県 鶴岡 39.9 1978-08-03
愛知県 名古屋 39.9 1942-08-02

In [4]:
!tr '\t' ' ' < hightemp.txt

高知県 江川崎 41 2013-08-12
埼玉県 熊谷 40.9 2007-08-16
岐阜県 多治見 40.9 2007-08-16
山形県 山形 40.8 1933-07-25
山梨県 甲府 40.7 2013-08-10
和歌山県 かつらぎ 40.6 1994-08-08
静岡県 天竜 40.6 1994-08-04
山梨県 勝沼 40.5 2013-08-10
埼玉県 越谷 40.4 2007-08-16
群馬県 館林 40.3 2007-08-16
群馬県 上里見 40.3 1998-07-04
愛知県 愛西 40.3 1994-08-05
千葉県 牛久 40.2 2004-07-20
静岡県 佐久間 40.2 2001-07-24
愛媛県 宇和島 40.2 1927-07-22
山形県 酒田 40.1 1978-08-03
岐阜県 美濃 40 2007-08-16
群馬県 前橋 40 2001-07-24
千葉県 茂原 39.9 2013-08-11
埼玉県 鳩山 39.9 1997-07-05
大阪府 豊中 39.9 1994-08-08
山梨県 大月 39.9 1990-07-19
山形県 鶴岡 39.9 1978-08-03
愛知県 名古屋 39.9 1942-08-02

## 12. 1列目をcol1.txtに，2列目をcol2.txtに保存
各行の1列目だけを抜き出したものをcol1.txtに，2列目だけを抜き出したものをcol2.txtとしてファイルに保存せよ．確認にはcutコマンドを用いよ．

In [5]:
with open("hightemp.txt") as rf,\
    open("dest/col1.txt", "w") as wf1,\
    open("dest/col2.txt", "w") as wf2:
    for line in rf:
        wf1.write(line.split("\t")[0]+"\n")
        wf2.write(line.split("\t")[1]+"\n")

In [14]:
!cut -f 1 hightemp.txt > dest/col1.txt
!cut -f 2 hightemp.txt > dest/col2.txt

## 13. col1.txtとcol2.txtをマージ
12で作ったcol1.txtとcol2.txtを結合し，元のファイルの1列目と2列目をタブ区切りで並べたテキストファイルを作成せよ．確認にはpasteコマンドを用いよ．

In [15]:
with open("dest/col1and2.txt", "w") as wf,\
    open("dest/col1.txt") as rf1,\
    open("dest/col2.txt") as rf2:
    for i, j in zip(rf1, rf2):
        wf.write(i.strip()+"\t"+j.strip()+"\n")

In [16]:
!paste dest/col1.txt dest/col2.txt > dest/col1and2.txt

## 14. 先頭からN行を出力
自然数Nをコマンドライン引数などの手段で受け取り，入力のうち先頭のN行だけを表示せよ．確認にはheadコマンドを用いよ．

In [17]:
import itertools

N = int(input())
with open("hightemp.txt") as f:
    for line in itertools.islice(f, 0, N):
        print(line)

3
高知県	江川崎	41	2013-08-12

埼玉県	熊谷	40.9	2007-08-16

岐阜県	多治見	40.9	2007-08-16

In [18]:
!head -n 3 hightemp.txt

高知県	江川崎	41	2013-08-12
埼玉県	熊谷	40.9	2007-08-16
岐阜県	多治見	40.9	2007-08-16

## 15. 末尾のN行を出力
自然数Nをコマンドライン引数などの手段で受け取り，入力のうち末尾のN行だけを表示せよ．確認にはtailコマンドを用いよ．

In [19]:
N = int(input())
with open("hightemp.txt") as f:
    lines = f.readlines()
    for line in lines[-N:]:
        print(line)

3
山梨県	大月	39.9	1990-07-19

山形県	鶴岡	39.9	1978-08-03

愛知県	名古屋	39.9	1942-08-02

In [20]:
!tail -n 3 hightemp.txt

山梨県	大月	39.9	1990-07-19
山形県	鶴岡	39.9	1978-08-03
愛知県	名古屋	39.9	1942-08-02

## 16. ファイルをN分割する
自然数Nをコマンドライン引数などの手段で受け取り，入力のファイルを行単位でN分割せよ．同様の処理をsplitコマンドで実現せよ．

In [33]:
N = int(input())
def divide_lines(lines, n):
    quo = lines // n
    rem = lines % n
    return [quo+1]*rem + [quo]*(N-rem)
with open("hightemp.txt") as rf:
    readed_lines = rf.readlines()
    each_lines = divide_lines(len(readed_lines), N)
    for i, each_line in enumerate(each_lines):
        with open("dest/divided_hightemp{}.txt".format(i), "w") as wf:
            for line in readed_lines[i*each_line:(i+1)*each_line]:
                wf.write(line)

3

疲れたのでUNIXコマンドはなし

## 17. １列目の文字列の異なり
1列目の文字列の種類（異なる文字列の集合）を求めよ．確認にはsort, uniqコマンドを用いよ．

In [102]:
with open("hightemp.txt") as f:
    print({line.split("\t")[0] for line in f})

{'大阪府', '静岡県', '愛媛県', '岐阜県', '愛知県', '和歌山県', '高知県', '山形県', '千葉県', '埼玉県', '山梨県', '群馬県'}

In [103]:
!cut -f1 hightemp.txt | sort | uniq

千葉県
埼玉県
大阪府
山形県
山梨県
岐阜県
愛媛県
愛知県
群馬県
静岡県
高知県
和歌山県

## 18. 各行を3コラム目の数値の降順にソート
各行を3コラム目の数値の逆順で整列せよ（注意: 各行の内容は変更せずに並び替えよ）．確認にはsortコマンドを用いよ（この問題はコマンドで実行した時の結果と合わなくてもよい）．